@page "/terminbuchung"

@using DataLibrary
@using Microsoft.AspNetCore.WebUtilities
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@inject NavigationManager UriHelper
@inject IDataAccess _data


<h3>Terminbuchung</h3>


@if (impfen == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], input[type=email], input[type=password], input[type=datetime-local], input[type=radio], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            width: 100%;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }
    </style>
    <br />
    <br />
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Personen ID</th>
                <th>Name</th>
                <th>Geburtsdatum</th>
                <th>Sozialversicherungsnummer</th>
                @*<th>Terminbuchung</th>*@
            </tr>
            <tr>
                <td>
                    @impfen.per_Id
                </td>
                <td>
                    @impfen.Name
                </td>
                <td>
                    @impfen.per_GebDat.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @impfen.per_svnr
                </td>
                @*<td>

                        <a class="btn btn-dark" href="@("/details?PersonenID=" + i.per_Id.ToString())">Zum Impftermin</a>

                    </td>*@
            </tr>
        </table>
    </div>
    <br>
    <br>

    // bind und value --> Onchange + value
    <div class="container">
        @*<h5>Geben Sie hier Ihren gewünschten Impftermin ein:</h5>*@
        <div class="row">
            <div class="col-25">
                <label for="Impftermin">Impftermin:</label>
            </div>
            <div class="col-75">
                <input @onchange="@((args) => Adrauswahl.imp_Termin = Convert.ToDateTime(args.Value))" type="datetime-local" id="Impftermin" name="Impftermin" value="@Impftermin.ToString("yyyy-MM-ddTHH:mm")">
            </div>
        </div>
        <br />
        <h4>Impfstrasse:</h4>
        @foreach (var i in adresse)
        {
            <div class="row">
                <div class="col-25">
                    <label for="@i.adr_Id">@i.Adresse</label>
                </div>
                <div class="col-75">
                    <input @onchange="@((args) => Adrauswahl.adr_Id = Int32.Parse(args.Value.ToString()))" id="@i.adr_Id" value="@i.adr_Id" type="radio" name="Adresse">
                </div>
            </div>
        }
        <div class="row">
            <button class="btn btn-warning" @onclick="@(async () => await InsertData(impfen.per_Id, Adrauswahl.adr_Id, Adrauswahl.imp_Termin))">Speichern</button>
        </div>
        @if (Datumrichtig == false)
        {
            <h7>Dieser Termin ist leider nicht Möglich</h7>
        }
    </div>
}
@code {

    ImpfModel impfen;
    ImpfModel Adrauswahl = new ImpfModel();
    List<ImpfAdressModel> adresse;

    private string Vorname;
    private string Nachname;
    private DateTime Geburtsdatum;
    private string Sozialversicherungsnummer;
    private DateTime Impftermin = DateTime.Now;
    private DateTime _heute = DateTime.Now;

    private bool Datumrichtig = true;

    private string queryID;



    private async Task SearchData(string ID)
    {
        string sql = "select per_Id, concat_ws(' ', per_Vname, per_Nname) as Name, per_GebDat, per_svnr from person where per_Id=@per_Id;";

        impfen = await _data.LoadSingleRow<ImpfModel, dynamic>(sql, new { per_Id = ID }, _config.GetConnectionString("default"));
    }

    private async Task InsertData(int per_Id, int Adresse, DateTime Impftermin)
    {
        if (Impftermin.Year == 1)
        {
            Impftermin = _heute;
        }

        if (_heute.CompareTo(Impftermin) > 0)
        {
            Datumrichtig = false;
            return;
        }
        else
        {
            Datumrichtig = true;
        }

        string sql = "insert into impfstrasse (per_Id, adr_Id, imp_Termin) values (@per_id, @adr_Id, @imp_Termin);";

        await _data.SaveData(sql, new { per_Id = per_Id, adr_Id = Adresse, imp_Termin = Impftermin }, _config.GetConnectionString("default"));

    }


    //private async Task LoadAllData()
    //{
    //    string sql = "select per_Id, concat_ws(' ', per_Vname, per_Nname) as Name, per_GebDat, per_svnr from person";

    //    impfen = await _data.LoadSingleRow<ImpfModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    //}

    private async Task LoadAdressData()
    {
        string sql = "select adr_Id, concat_ws(', ', adr_Strasse, adr_PLZ, adr_Ort) as Adresse from adresse";

        adresse = await _data.LoadData<ImpfAdressModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }


    protected override async Task OnInitializedAsync()
    {
        var uri = UriHelper.ToAbsoluteUri(UriHelper.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("PersonenID", out var param))
        {
            queryID = param.First();
        }

        if (queryID != null)
        {
            await SearchData(queryID);
        }
        Adrauswahl = impfen;
        await LoadAdressData();
    }
}
